# Ultralytics requirements
# Example: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib
numpy # pinned by Snyk to avoid a vulnerability
opencv-python
pillow
pyyaml
requests
scipy
torch
torchvision
tqdm

# Logging -------------------------------------
# tensorboard
# dvclive
# clearml
# comet

# Plotting ------------------------------------
pandas
seaborn

# Export --------------------------------------
# coremltools# CoreML export
# onnx # ONNX export
# onnxsim  # ONNX simplifier
# nvidia-pyindex  # TensorRT export
# nvidia-tensorrt  # TensorRT export
# scikit-learn  # CoreML quantization
# tensorflow  # TF exports (-cpu, -aarch64, -macos)
# tflite-support
# tensorflowjs  # TF.js export
# openvino-dev  # OpenVINO export

# Extras --------------------------------------
psutil  # system utilization
py-cpuinfo  # display CPU info
# thop  # FLOPs computation
# ipython  # interactive notebook
# albumentations  # training augmentations
# pycocotools  # COCO mAP
# roboflow
